<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster"
      rel="stylesheet"
    />

    <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
