{% extends "./base.html" %}

{% block title %}{{ recipe.name }} | Edit{% endblock %}

{% block content %}
<pre>{{ debug | pprint }}</pre>
<pre>{{ request.POST | pprint }}</pre>
<form action="{% url 'recipes:edit' recipe.id %}" method="post">
  {% csrf_token %}
  <div id="measured_height_container">
    <div id="recipe_title"><input type="text" name="recipe.name" value="{{ recipe.name }}" /></div>

    <div id="recipe_contents">
      <div id="recipe_directions">
        <ol>
          {% for step in recipe.step.all %}
          <li><textarea wrap="virtual" style="width: 100%" name="step.{{ step.id }}">{{ step.step_text }}</textarea>
          </li>
          {% endfor %}
        </ol>
      </div>
      <div id="sidebar">
        <div id="recipe_ingredients">
          <h3>Serves 1</h3>
          {% for group in recipe.ingredients_group.all %} {% if group.name %}
          <h4><input type="text" name="group.{{ group.id }}.name" value="{{ group.name }}" /></h4>
          {% endif %}
          <dl>
            {% for ingredient in group.ingredient.all %}
            <dt>
              <span class="ingredient_quantity">
                <input type="text" name="ingredient.{{ ingredient.id }}.quantity"
                  value="{{ ingredient.quantity.normalize|default:"" }}" placeholder="quantity" />
              </span>
              <span class="ingredient_measurement">
                <input type="text" name="ingredient.{{ ingredient.id }}.measurement"
                  value="{{ ingredient.measurement|default:"" }}" placeholder="unit" />
              </span>
            </dt>
            <dd>
              <span class="ingredient_name">
                <input type="text" name="ingredient.{{ ingredient.id }}.name" value="{{ ingredient.ingredient.name }}"
                  placeholder="name" />
              </span>
              <span class="ingredient_preparation">
                <input type="text" name="ingredient.{{ ingredient.id }}.preparation"
                  value="{{ ingredient.preparation|default:"" }}" placeholder="preparation" />
              </span>
            </dd>
            {% endfor %}
          </dl>
          {% endfor %}
        </div>
        <div id="recipe_description"><textarea wrap="virtual" style="width: 100%"
            name="recipe.short_description">{{ recipe.short_description }}</textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="no-print" id="control">
    <input type="submit" value="Update">
    <a href="./">Cancel</a>
  </div>
</form>
{% endblock %}