{% extends "./base.html" %}


{% block page_title %}{{ recipe.name }}{% endblock %}

{% block content %}

<div class="recipe-contents">

  <div class="recipe-directions">
    <div class="recipe-title">{% block name %}{{ recipe.name }}{% endblock %}</div>
    <ol>
      {% for step in recipe.step.all %}
      <li>{{ step.step_text }}</li>
      {% endfor %}
    </ol>
  </div>

  <div class="sidebar">
    <h3 class="serves">Serves 1</h3>
    <div class="recipe-ingredients">
      {% for group in recipe.ingredients_group.all %}

      <div class="ingredient-group">

        {% if group.name %}
        <h4 class="group-name">{{ group.name }}</h4>
        {% endif %}

        <div class="ingredients-list">
          {% for ingredient in group.ingredient.all %}
          <div class="ingredient-in-group">
            <span class="ingredient-quantity">{{ingredient.quantity.normalize|default:""}}</span>
            <span class="ingredient-unit"> {{ingredient.unit|default:""}}</span>
            <span class="ingredient-name">{{ingredient.ingredient.name}}{% if ingredient.preparation %},
              {% endif %}</span>
            <span class="ingredient-preparation">{{ingredient.preparation|default:""}} </span>
          </div>
          {% endfor %}
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="recipe-description">
      {% block description %}{{ recipe.short_description|default:"" }}{% endblock %}
    </div>
  </div>
</div>

<div class="no-print" id="control">
  <nav>
    {% block page_nav %}
    <a href="./edit">Edit</a>
    {% endblock %}
  </nav>

  {% block no_print %}
  {% endblock %}
</div>

{% endblock %}