{% extends "./base.html" %}


{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}

<div class="recipe_contents">

  <div class="recipe_directions">
    <div class="recipe_title">{{ recipe.name }}</div>
    <ol>
      {% for step in recipe.step.all %}
      <li>{{ step.step_text }}</li>
      {% endfor %}
    </ol>
  </div>

  <div class="sidebar">
    <h3 class="serves">Serves 1</h3>
    <div class="recipe_ingredients">
      {% for group in recipe.ingredients_group.all %}

      <div class="ingredient_group">

        {% if group.name %}
        <h4 class="group_name">{{ group.name }}</h4>
        {% endif %}

        <div class="ingredients-list">
          {% for ingredient in group.ingredient.all %}
          <div class="ingredient-in-group">
            <span class="ingredient_quantity">{{ingredient.quantity.normalize|default:""}}
            </span>
            <span class="ingredient_unit"> {{ingredient.unit|default:""}}</span>
            <span class="ingredient_name">{{ingredient.ingredient.name}}{% if ingredient.preparation %}, {% endif %}
            </span>
            <span class="ingredient_preparation">
              {{ingredient.preparation|default:""}}
            </span>
          </div>
          {% endfor %}
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="recipe_description">{{recipe.short_description}}</div>
  </div>
</div>
<div class="no-print" id="control">
  <a href="./edit">Edit</a>
</div>
{% endblock %}