{% extends "./base.html" %}

{% block page_title %}Recipes{% endblock %}

{% block content %}
<div class="home-header">
  <h1>Recipes</h1>
  <a href="{% url 'recipes:new' %}" class="btn-new-recipe">New Recipe</a>
  <a href="{% url 'recipes:ingredient_manage' %}" class="btn-manage-ingredients">Manage ingredients</a>
</div>
{% if latest_recipe_list %}
<ul id="recipe-list">
  {% for recipe in latest_recipe_list %}
  <li id="recipe-{{ recipe.id }}" class="recipe-list-item">
    <a href="{% url 'recipes:metadata_edit' recipe.id %}" class="list-btn">Edit metadata</a>
    <button
      hx-post="{% url 'recipes:delete' recipe.id %}"
      hx-target="#recipe-{{ recipe.id }}"
      hx-swap="outerHTML"
      hx-confirm="Delete '{{ recipe.recipe_name }}'?"
      class="list-btn btn-delete"
    >Delete</button>
    <a href="{{ recipe.get_absolute_url }}" class="list-btn">View</a>
    <form method="post" action="{% url 'recipes:duplicate' recipe.id %}" style="display:inline">
      {% csrf_token %}
      <button type="submit" class="list-btn">Duplicate</button>
    </form>
    <a href="{{ recipe.get_absolute_url }}" class="recipe-name">{{ recipe.recipe_name }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
{% include "./partials/_recipe_list_empty.html" %}
{% endif %}
{% endblock %}
