{% load static recipe_filters %}
{% if request.htmx %}<title hx-swap-oob="true">{{ recipe.recipe_name }}</title>{% endif %}
{% include "../navbar.html" with template_name="recipes:recipe" %}
<div class="recipe-contents">
  <div class="recipe-directions">
    <div id="metadata-panel"></div>
    <div class="recipe-title">
      {% include "./_field_display.html" with field_name="recipe_name" value=recipe.recipe_name %}
    </div>
    <ol class="recipe-steps" id="steps-list">
      {% for step in recipe.step.all %}
      {% include "./_step_display.html" with recipe=recipe step=step %}
      {% endfor %}
    </ol>
    <button
      hx-post="{% url 'recipes:step_add' recipe.id %}"
      hx-target=".recipe-steps"
      hx-swap="beforeend"
      class="btn-add"
    >+ Add step</button>
  </div>

  <div class="sidebar">
    <nav class="no-print">
      {% include "../nav_recipe.html" %}
    </nav>
    <div id="scale-panel"></div>
    <div id="delete-panel"></div>
    <h3 class="serves">Serves {% include "./_field_display.html" with field_name="servings" value=recipe.servings|default:"" %}</h3>
    <div class="recipe-ingredients">
      <div id="groups-list">
        {% include "./_groups_list.html" %}
      </div>
      <button
        hx-post="{% url 'recipes:group_add' recipe.id %}"
        hx-target="#groups-list"
        hx-swap="beforeend"
        class="btn-add"
      >+ Add group</button>
    </div>
    <div class="recipe-description">
      {% include "./_field_display.html" with field_name="short_description" value=recipe.short_description|default:"" %}
    </div>
  </div>
</div>
