.no-print,
.btn-add,
.move-btns,
[data-empty] {
  display: none !important;
}
.recipe-contents {
  box-shadow: none;
  padding: 0;
  width: 100%;
}
.navbar {
  visibility: hidden;
}

.sidebar {
  padding-top: 10px;
}
