:root {
  --hbar: 8px solid #000;
  --drop-shadow-size: 4px 4px;
  --color-light-main: hsl(39, 100%, 50%);
  --color-light-secondary: hsl(174, 100%, 40%);
  --color-dark-main: hsl(219, 100%, 25%);
  --color-dark-secondary: hsl(174, 100%, 40%);
}

body {
  background: #fff;
  color: black;
  font: 20px Verdana;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.recipe-contents {
  box-shadow: #a3a0a0 2px 0px 7px;
  display: flex;
  gap: 20px;
  height: 18cm;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  width: 1040px;
}

textarea,
input[type="text"] {
  background: inherit;
  border: 1px dotted silver;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  width: 100%;
}

.ingredient-group {
  display: block;
  margin: 1em 0 -8px 0;
  padding-bottom: 2px;
  padding-left: 0;
}

.group-name,
.group-name input[type="text"] {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 3px 0;
  text-align: end;
}

.recipe-title {
  font-size: 44px;
  font-family: "Lobster", "Trebuchet MS";
  line-height: 37px;
  margin: 0 0 18px 0;
  width: 100%;
}

.recipe-title input[type="text"] {
  line-height: 62px;
  height: 62px;
  margin-top: -10px;
}

.sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  font: 14px "Inconsolata";
  width: 28%;
}

.sidebar > div:last-child,
.sidebar > div:last-child > * {
  height: 100%;
}

.recipe-description {
  border-top: var(--hbar);
  font-size: 14px;
  line-height: 1.2;
  margin-top: 1em;
  padding: 1em 0 0;
}

.recipe-directions {
  width: 72%;
}

.recipe-directions p,
.recipe-directions li {
  margin: 0 0 0.5em 0;
}

.ingredient-name {
}

.ingredient-unit {
  text-transform: lowercase;
}

ol {
  padding: 0;
  margin: 0 0 0 2.2em;
}

.recipe-ingredients {
  border-top: var(--hbar);
}

.sidebar .serves {
  margin: 0 0 4px 0;
  text-align: end;
}

.ingredients-list {
  border-top: 3px dotted black;
  padding-top: 3px;
}

.ingredient-in-group-show,
.ingredient-in-group-edit {
  margin: 0;
  border-bottom: 1px dotted #ccc;
  padding-top: 2px;
  padding-bottom: 3px;
}

.ingredient-in-group-show {
  text-indent: -36px;
  padding-left: 36px;
}

.ingredient-in-group-edit {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-quantity {
  flex: 0 0 32px;
}

.ingredient-unit {
  flex: 1 1 15%;
}

.ingredient-name {
  flex: 1 0 50%;
}

.ingredient-preparation {
  flex: 0 0 100%;
}

.ingredient-group:last-of-type .ingredient-in-group-show:last-of-type,
.ingredient-group:last-of-type .ingredient-in-group-edit:last-of-type {
  border-bottom: none;
}

.recipe-directions textarea {
  height: 54px;
  vertical-align: text-top;
}

.navbar {
  background-color: var(--color-dark-main);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  position: fixed;
  top: 0;
  width: 3rem;
}
.nav-button {
  height: 40px;
  width: 40px;
}

.navbar .nav-button {
  margin: 1rem 0;
}
.sidebar .nav-button {
  margin: 0 1rem;
}

.nav-button svg {
  cursor: pointer;
}

.navbar .nav-button svg {
  fill: var(--color-light-main);
  filter: drop-shadow(var(--drop-shadow-size) 0 var(--color-light-secondary));
}

.sidebar .nav-button svg {
  cursor: pointer;
  fill: var(--color-dark-main);
  filter: drop-shadow(var(--drop-shadow-size) 0 var(--color-dark-secondary));
}

.nav-button svg:active {
  filter: none;
  margin: 4px 4px 0 0;
}

.sidebar nav {
  background: var(--color-light-main);
  display: flex;
  justify-content: end;
  height: 48px;
  position: absolute;
  top: -18px;
  width: 100%;
}

.sidebar nav:hover {
  background: var(--color-light-main);
  height: 48px;
  position: absolute;
  top: -0;
  width: 100%;
}

.sidebar input[type="submit"] {
  display: none;
}

.debug {
  background: pink;
  width: inherit;
}
